[data-theme="light"] {
  --color-bg: #FFF;
  --color-text: black;
  --color-links: #007bff;
  --color-code: #e83e8c;
  --image-navbar-toggle: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

}

[data-theme="dark"] {
  --color-bg: #212121;
  --color-text: white;
  --color-links: #e83e8c;
  --color-code: #bfbfbf;
  --image-navbar-toggle: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255,255,255,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

}

:root, body, *{
	background-color: var(--color-bg);
	color: var(--color-text);
}

a{
	color: var(--color-links);
}

a:hover{
  color: var(--color-links);
}

.content{
	margin-top: 8em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 5px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#overlay-loading{
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: var(--color-bg);
  z-index: 500;
}

pre {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 5px solid #f44336;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}

code {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #BCBEC0;
  padding: 2px;
  font:12px Monaco,Consolas,"Andale  Mono","DejaVu Sans Mono",monospace;
  color: var(--color-code);
}

.blog-post-index {
  margin-top: 45px;
}

.center {
  text-align: center;
}

section {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid gray;
}

.img-div-fit{
  max-width:100%;
  max-height:100%;
  margin-top:5px;
  margin-bottom: 5px;
}